#chatUsers-box{
    background-color: lightsteelblue;
    flex: 0.2;
    height: 100%;
    padding: 0  1%;
}

#activeUsers-box{
    height: 60%;
    font-size: 18px;
    font-weight: bold;
    color: dimgrey;
}   

#activeUsers-box p{
    margin: 0;
    padding: 1% 0;
}