.error{
    color:red;
    font-size: 12px;
}

.background{
    background-color:aliceblue;
    height: 100vh;
    margin: 0;
}

#signup-box{
    margin: auto;
    width: 40%;
    position: relative;
    top: 20%;
    background-color: white;
    border: 1px dotted grey;
    text-align: center;
    padding: 2%;
}

#username-rules-box{
    width: 50%;
    margin: auto;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

#username-rules-box ul{
    padding-left: 25%;
    text-align: left;
}